# NPM
node_modules/

# Build
dist/

# Misc
.idea/
.claude/
.DS_Store
.env*
!.env.example
!.env.web.example
.encryption.key
coverage/

# Temporary files
cache*.json
cookies*.json
sqlite.db
sqlite.db
*.sqlite
*.db